<section class="fdb-block fdb-viewport" style="background-color: #1dd7c8">
    <div class="container align-items-center justify-content-center d-flex">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10 col-lg-8">
          <h1 class="text-white">{{site.data.homepage.call2.title}}</h1>
          <p class="lead text-white">{{site.data.homepage.call2.description}}</p>
          <p class="mt-5"><a href="{{site.data.homepage.call2.link}}" class="btn btn-outline-light btn-large">{{site.data.homepage.call2.action}}</a></p>
        </div>
      </div>
    </div>
  </section>