<section class="section section-large">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-6  pb-md-0">
                <img alt="image" class="img-fluid rounded-0" src="{{include.item.img| relative_url }}">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-6 pb-md-0">
                {%- comment -%} <img alt="image" class="fdb-icon" src="{{'/assets/imgs/icons/gift.svg' | relative_url }}"> {%- endcomment -%}
                <h1>{{include.item.title}}</h1>
                <p class="lead">{{include.item.description}}</p>
                <p class="mt-4 text-right">
          
                 {% if include.item.actions %}
                {% for action in include.item.actions %}

                    <a class="btn {% if forloop.index0 ==0 %}btn-primary {% else %} btn-warning {%endif%}" href="{{action.link}}"">{{action.title}}</a>
           
                {% endfor %}
                {% endif %}             
                </p>
            </div>
        </div>
    </div>
</section>