<section class="fdb-block">
        <div class="container">
          <div class="row text-center">
            <div class="col-12">
              <h1>{{site.data.homepage.main_feature.title}}</h1>
              <img alt="image" class="img-fluid mt-5" src="{{site.data.homepage.main_feature.img| relative_url}}">
            </div>
          </div>
      
          <div class="row text-left justify-content-center align-text-top mt-5 pt-5">
          {% for feature in site.data.homepage.main_feature.features %}
            <div class="col-12 col-sm-4 col-lg-4">
   
              <h2 ><strong>{{feature.title}}</strong></h2>
              <p>{{feature.description}}</p>
         
            </div>
          {% endfor %}
          
          </div>
        </div>
</section>