<section class="fdb-block">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>{{site.data.homepage.key_features.title | upcase}}</h1>
            </div>
        </div>
        <div class="row text-left mt-5">
            {% for feature in site.data.homepage.key_features.features %}

            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-3">
                        <img alt="image" class="fdb-icon" src="{{ feature.img | relative_url }}">
                    </div>
                    <div class="col-9">
                        <h3><strong>{{feature.title}}</strong></h3>
                        <p class="lead">{{feature.description}}</p>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>