<section class="home-product-app fdb-block">
    <div class="container">
        <div class="home-product-app-container">
            <div class="row  mb-5">
                <div class="col-12 text-center">
                    <h2>{{site.data.homepage.app.title}}</h2>
                    <p class="lead text-light">{{site.data.homepage.app.description}}</p>
                </div>
                <div class="col-12 col-md-7 text-center">
                    <img alt="image" class="img-fluid mt-5" src="/assets/imgs/draws/simple-iphone.svg">
                </div>
                <div class="col-12 col-md-5 mt-5">

                    <div class="row text-left justify-content-center pt-5">
                        {% for feature in site.data.homepage.app.features %}
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <img alt="image" class="img-fluid rounded" src="{{ feature.img | relative_url }}">
                                </div>
                                <div class="col-9">
                                    <h3><strong>{{feature.title}}</strong></h3>
                                    <p class="text-light">{{feature.description}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% for action in site.data.homepage.app.actions %}
                    <div class="row home-product-app-item mt-3 text-center">
                        <div class="col-12">
                            <h2><strong>{{action.title}}</strong></h2>
                            <h3 class="text-white mb-0">{{action.description}}</h3>
                            <img alt="image" class="img-fluid mb-2 mt-2" style="height: auto;" src="{{ action.img | relative_url}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>