---
layout: default
title: Homepage

---

<!-- see data.homepage.hero_slider -->

{% include homepage/hero.html %}

<!-- see data.homepage.top_features -->

<a name="about"/>

{% include homepage/top_features.html %}

<!-- see data.homepage.who -->

{% include homepage/who.html %}

<!-- see data.homepage.main_feature -->

{% include homepage/main_feature.html %}

<a name="kit"/>
<!-- see data.homepage.product_features-->
{% include homepage/product_features.html %}

<!-- data.homepage.key_features -->

{% include homepage/product_features2.html %}

<!-- data.homepage.call1-->
{% include homepage/product_easy.html %}

<!-- data.homepage.app -->
{% include homepage/product_app.html %}

<a name="workshop"/>
<!-- data.homepage.video -->
{% include homepage/workshop_video.html %}

<!-- data.homepage.workshop -->
{% include homepage/workshop_feature.html %}


<a name="faq"/>
<!-- data.faq -->



<!-- data.homepage.call2 -->
{% include homepage/call_action_blog.html %}

<a name="contacts"/>
<!-- data.contacts -->
{% include common/contact_us.html %}

<!-- Newsletter -->
{% include common/newsletter.html %}