---
layout: default
title: Homepage
---
<!-- hero -->
{% include blocks/carousel/carousel1.html %}

<!-- features -->
<div class="container">
    <!-- Intro left - right -left -->
    {% include blocks/contents/contents23.html %} 
    {% include blocks/contents/contents24.html %} 
    {% include
    blocks/contents/contents23.html %}
</div>

<!-- who is it for -->
{% include blocks/features/features4.html %}

<!-- large features block -->
{% include blocks/features/features8.html %}

<!-- kit contents-->
{% include blocks/features/features25.html %}

<!-- key features-->
{% include blocks/features/features11.html %}

<!-- easy to use-->
{% include blocks/features/features5.html %}

<!-- mobile app -->
{% include blocks/features/features16.html %}

<!-- workshop trailer -->
{% include blocks/video/video1.html %}

<!-- workshop feature -->
{% include blocks/features/features17.html %}

<!-- FAQ -->
{% include blocks/contents/contents35.html %}

<!--Blog --->
{% include blocks/call-to-action/call-to-action21.html %}

<!-- Check out blog-->
{% include blocks/call-to-action/call-to-action16.html %}

<!-- Contact form -->
{% include blocks/contacts/contacts1.html %}

<!-- Newsletter -->
{% include blocks/newsletter/forms9.html %}