body {}


.header6 {
  padding: 32px 0;
  background-color: #d8332e;

  .btn-primary {
    color: #fff;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 32px;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #f8ab0c;
    border-color: #f8ab0c;
  }

  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(50, 158, 247, 0.5);
  }

  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #fff;
    background-color: #dedede;
    border-color: #dedede;
  }

  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f8ab0c;
    border-color: #f8ab0c;
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(50, 158, 247, 0.5);
  }


li.nav-item a.nav-link {
    color: white;
  }

  li.nav-item a.nav-link:hover {
    color: white;
    text-decoration: underline;
  }


}







// d8332e rosso
// 1dd7c8 cyan
// f8ab0c giallo
// ffffff white