@import url('https://fonts.googleapis.com/css?family=Cabin');
.wrapper {
    // min-height: 50vh;
    background-color: #d8332e;
    // padding-bottom: 32px;
}

.navbar-brand img {
    padding: 0;
    height: 64px;
}

.main-header {
    // padding: 6px 0;
    background-color: #d8332e;
    li.nav-item a.nav-link {
        color: white;
    }
    li.nav-item a.nav-link:hover {
        color: white;
        text-decoration: underline;
    }
}

// d8332e rosso
// 1dd7c8 cyan
// f8ab0c giallo
// ffffff white
.homepage-hero {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    // padding: 7.5rem 0;
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
}

.home-feature {
    // margin-bottom: 64px;
}

.home-product-features {
    background-color: #00acdd;
    margin: 0 auto;
    .features {
        max-width: 600px;
        margin: 0 auto;
    }
}

.home-workshop-gallery {
    .btn-primary {
        color: white;
    }
}

.home-product-app {
    background-color: #d8332e;
    margin: 0 auto;
    color: white;
    .home-product-app-container {
        width: 80%;
        margin: 0 auto;
    }
    .home-product-app-item img.img-fluid {
        height: 150px;
    }
}

.home-workshop-feature {
    background-color: #d8332e;
    margin: 0 auto;
    color: white;
}

.section-large {
    margin: 64px auto;
}

.bg-blue {
    background-color: #00acdd
}

.bg-yellow {
    background-color: #FCE752;
}

.section {
    clear: both
}

.who-feature {
    height: 450px;
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(lg) {
    .who-feature {
        height: auto;
    }
}

.round-number {
    border-radius: 24px;
    width: 24px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 24px;
    display: inline-block;
    margin-right: 12px;
    // font-family: Helvetica, monospaced;
    vertical-align: center;
    padding: 2px 2px 2px 3px;
}