<section class="fdb-block pt-0 bg-yellow">
    {% if site.data.contacts.map%}
        <div class="container-fluid p-0 pb-md-5">
          <iframe class="map" src="{{site.data.contacts.map}}" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    {% endif %}
        <div class="container">
          <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-5">
              <h2>{{site.data.contacts.title}}</h2>
              <p class="lead text-dark">
                {{site.data.contacts.description}}
              </p>
      

      
              <p class="h3 mt-5 text-dark">
                <strong>Email:</strong> <a href="mailto:{{site.data.contacts.email}}">{{site.data.contacts.email}}</a>
              </p>
              {% if site.data.contacts.phone %}
              <p class="lead">
                <strong>Phone:</strong> <a href="tel:{{site.data.contacts.phone}}">{{site.data.contacts.phone}}</a>
              </p>
              {% endif %}
            </div>
      
            <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
              <form action="{{site.data.contacts.form_action}}" method="POST">
                <div class="row">
                  <div class="col">
                    <input type="text" name="first_name" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                    <input type="text" name="last_name" class="form-control" placeholder="Last name">
                  </div>
                </div>
      
                <div class="row mt-4">
                  <div class="col">
                    <input type="email" name="_replyTo" class="form-control" placeholder="Enter email">
                  </div>
                </div>
      
                <div class="row mt-4">
                  <div class="col">
                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>