<section class="fdb-block bg-white">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12  col-md-10 col-lg-8 col-xl-6 text-center">
   
              <h1>Never miss an update</h1>
              <p class="lead">Subscribe our low volume newsletter and keep in touch</p>
              <div class="input-group mt-4 mb-4">
                <input type="text" class="form-control" placeholder="Enter your email address">
                <div class="input-group-append">
                  <button class="btn btn-dark" type="button">Submit</button>
                </div>
              </div>
              <p class="h5">*Your email address is safe with us. We never share your email address.</p>
            </div>
          </div>
        </div>
      </section>